Source: ag
Section: science
Priority: optional
Maintainer: Michael Specht <micha.specht@gmail.com>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.41)
Standards-Version: 3.8.3
Homepage: http://github.com/specht/ag

Package: ag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash-completion
Description: Ag - issue tracking intertwined with Git
